servicios/node-red/webGraficas.json
[{"id":"eed7071.aa571f8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f3154d54.1dccd","type":"rpi-sensehatsim in","z":"eed7071.aa571f8","name":"","motion":false,"env":true,"stick":false,"x":200,"y":180,"wires":[["9e31b5c0.bb947","afaf4738.910c38","cce8cbf9.2e6c38","657b1b16.dbb81c"]]},{"id":"9e31b5c0.bb947","type":"rpi-sensehatsim out","z":"eed7071.aa571f8","name":"","x":520,"y":140,"wires":[]},{"id":"afaf4738.910c38","type":"function","z":"eed7071.aa571f8","name":"Temperature","func":"return{ payload: msg.payload.temperature};","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["498d1ca7.7794fc"]]},{"id":"633bac8a.979134","type":"ui_chart","z":"eed7071.aa571f8","name":"","group":"ffb2ce30.e47338","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":200,"wires":[[]]},{"id":"657b1b16.dbb81c","type":"function","z":"eed7071.aa571f8","name":"Humidity","func":"return{ payload: msg.payload.humidity};","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["a3d29c73.94e7a8"]]},{"id":"cce8cbf9.2e6c38","type":"function","z":"eed7071.aa571f8","name":"Pressure","func":"return{ payload: msg.payload.pressure};","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["d313db21.527fd8"]]},{"id":"d92de72c.e7ecc","type":"ui_chart","z":"eed7071.aa571f8","name":"","group":"f64c05bd.9efdd","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":260,"wires":[[]]},{"id":"deac81c2.53f688","type":"ui_chart","z":"eed7071.aa571f8","name":"","group":"f347acf1.1d3a","order":1,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":320,"wires":[[]]},{"id":"498d1ca7.7794fc","type":"delay","z":"eed7071.aa571f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":570,"y":200,"wires":[["633bac8a.979134"]]},{"id":"a3d29c73.94e7a8","type":"delay","z":"eed7071.aa571f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":570,"y":260,"wires":[["d92de72c.e7ecc"]]},{"id":"d313db21.527fd8","type":"delay","z":"eed7071.aa571f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":570,"y":320,"wires":[["deac81c2.53f688"]]},{"id":"ffb2ce30.e47338","type":"ui_group","z":"","name":"","tab":"b0040e2a.c8e2b8","disp":true,"width":"6","collapse":false},{"id":"f64c05bd.9efdd","type":"ui_group","z":"","name":"","tab":"b0040e2a.c8e2b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f347acf1.1d3a","type":"ui_group","z":"","name":"","tab":"b0040e2a.c8e2b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b0040e2a.c8e2b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]