servicios/node-red/webSimple.json
[{"id":"d0d8765c.8d83f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac7e7414.dbb148","type":"template","z":"d0d8765c.8d83f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Prueba Node-Red</title>\n</head>\n<body>\n\n<h1>Prueba Node-Red</h1>\n<p>Prueba Node-Red</p>\n\n</body>\n</html>\n","output":"str","x":600,"y":140,"wires":[["ae110e0.e93617"]]},{"id":"ac715118.ee9928","type":"http in","z":"d0d8765c.8d83f8","name":"","url":"/prueba","method":"get","upload":false,"swaggerDoc":"","x":430,"y":140,"wires":[["ac7e7414.dbb148"]]},{"id":"ae110e0.e93617","type":"http response","z":"d0d8765c.8d83f8","name":"","statusCode":"","headers":{},"x":750,"y":140,"wires":[]}]